<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>{{'child1.exportDialog.title' | translate}}</h5>
            </div>
            <div class="card-body">
                    <div class="row"> 
                        <section class="example-section">
                            <mat-radio-group [(ngModel)]="labelPosition">
                              <mat-radio-button class="example-margin" value="1">PDF</mat-radio-button>
                              <mat-radio-button class="example-margin" value="2">Docx</mat-radio-button>
                            </mat-radio-group>
                          </section>
                                     
                    </div>
                    <div class="row" style="margin-top: 30px">
                        <section class="example-section">
                            <mat-checkbox class="example-margin" [(ngModel)]="isHiddenYear">{{'child1.exportDialog.nocontain' | translate}}!</mat-checkbox>
                          </section>  
                    </div>
            </div>
        </div>
        <div class="row clearfix" style="text-align: end; float: right;">
            <button type="button" class="btn btn-danger" style="margin-right: 10px;" (click) = "exportCV()">{{'child1.exportDialog.export' | translate}}</button>
            <button type="button" class="btn btn-secondary" mat-dialog-close>{{'child1.exportDialog.cancel' | translate}}</button>
        </div>
    </div>
</div>
